<div class="container">

    <div class="row">

        <!-- <div class="col"></div> -->

        <div class="col-6">

            <form>

                <div class="form-group">

                    <label>CSS</label>
                    <select class="form-control" #t (change)="loadStyle(t.value)">
                        <option disabled selected>Seleccione</option>
                        <option *ngFor="let data of d1" [value]="data.css_file">campo: {{data.css_file_name}}</option>
                    </select>

                </div>

                <div class="form-group">

                    <label>JS</label>
                    <select class="form-control" name="" id="">
                        <option *ngFor="let data of d2" value="">campo: {{data.js_file_name}}</option>
                    </select>

                </div>

            </form>

            <h1>Título</h1>

        </div>

    </div>

    <!-- <div class="col"></div> -->

</div>